<div class="app">
  <h1>MovieLand</h1>
  <div class="search">
    <input type="text" class="search-box" placeholder="Search for a movie..." [(ngModel)]="searchTerm"/>
    <img src="/assets/search.svg" alt="search" (click)="SearchMovies(searchTerm)"/>
  </div>
  <div class="container" *ngIf="movies?.length > 0; else noMovies">
    <app-movie-card *ngFor="let movie of movies" [movie]="movie" ></app-movie-card>
  </div>
  <ng-template #noMovies>
    <div class="empty">
      <h2>No movies found</h2>
    </div>
  </ng-template>
</div>
